body {
	font-family: sans-serif;
	font-size: 25px;
	background-color: #000000;
	color: #e2e2e2;
	background-image: url(/back-fone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #ff0000;
	text-align: center;
}

table {
	margin: auto;
	text-align: left;
	font-weight: 500;
	border-spacing: 20px 20px;
	padding: 10px;
	color: #ff0000;
}
